// FONT
$brand-font: sans-serif;
// SPACING
$mobile-link-height: 44px;
$mobile-link-height-xl: 64px;
$pixel-xs: 4px;
$pixel-small: 8px;
$pixel-medium: 12px;
$pixel-large: 16px;
$safe-margin-top: calc(env(safe-area-inset-top) + 8px);
$safe-margin-right: calc(env(safe-area-inset-right) + 16px);
$safe-margin-bottom: calc(env(safe-area-inset-bottom) + 8px);
$safe-margin-left: calc(env(safe-area-inset-left) + 16px);
$scroll-padding: calc(var(--safe-margin-top) + var(--min-height-mobile) + 8px);
// COLOR
$color-blue-1: #CCE6FF;
$color-blue-2: #8AB8E6;
$color-blue-3: #477DB3;
$color-blue-4: #194D80;
$color-blue-5: #00264D;

// MIXINS
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: $brand-font;
}

.banner {
    background: linear-gradient(to bottom, $color-blue-4, $color-blue-5);
    color: #ffffff;
    padding: $safe-margin-top $pixel-xs $pixel-small $pixel-xs;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }

    &__container--main {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            width: 1016px;
            margin: 0 auto;
        }
    }

    &__container--list {
        @include flex-center;
        overflow: hidden;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: height 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity .3s ease-in-out;

        &[data-state="open"] {
            height: calc(100vh - $safe-margin-top - $mobile-link-height - ($pixel-small * 2) - $safe-margin-bottom);
            visibility: visible;
            opacity: 1;
        }

        @media screen and (min-width: 1024px) {
            height: auto;
            visibility: visible;
            overflow: visible;
            opacity: 1;

            &[data-state="open"] {
                height: auto;
            }
        }
    }

    &__link,
    &__button {
        font-size: 1.125em;
        @include flex-center;

        @media (hover: hover) {
            position: relative;

            &::after,
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 0px;
                height: 2px;
                transition: width 0.5s ease-in-out;
            }

            &::after {
                bottom: 0;
                right: 0;
                background: linear-gradient(to left, $color-blue-1, $color-blue-2);
            }

            &::before {
                top: 0;
                left: 0;
                background: linear-gradient(to right, $color-blue-1, $color-blue-2);
            }

            &:hover {
                &::before {
                    right: 0;
                    left: auto;
                    width: 100%;
                }

                &::after {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    &__link {
        height: $mobile-link-height;
        color: inherit;
        text-decoration: none;
        padding: 0 $pixel-medium;

        &--skip {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

            &:focus {
                height: $mobile-link-height;
                overflow: visible;
                opacity: 1;
            }
        }

        &--menu {
            height: $mobile-link-height-xl;

            @media screen and (min-width: 1024px) {
                height: $mobile-link-height;
            }
        }

        &--phone {
            font-size: 1em;
        }

        &--logo {
            font-weight: bold;
        }
    }

    &__button {
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;
        cursor: pointer;
        padding: 0;
        height: $mobile-link-height;
        width: 100%;

        &--open {
            visibility: visible;
            opacity: 1;
            transition: height .3s ease-in-out, visibility .3s ease-in-out, opacity .3s ease-in-out;

            &[aria-expanded="true"] {
                height: 0;
                visibility: hidden;
                opacity: 0;
            }

            @media screen and (min-width: 426px) {
                margin: 0 auto;
                width: 414px;
            }

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        &--close {
            height: $mobile-link-height-xl;

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        flex: 1;

        @media (min-width: 426px) {
            flex: none;
            width: 414px;
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            width: auto;
        }
    }

    &__navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, $color-blue-4, $color-blue-5);
        padding: $pixel-small $pixel-xs $safe-margin-bottom $pixel-xs;

        @media screen and (min-width: 1024px){
            position: static;
            width: auto;
            padding: 0;
        }
    }

    &__item {
        border-bottom: 1px solid $color-blue-3;
        margin:  0 $pixel-large;
        &:last-child {
            border-bottom: none;
        }
        @media screen and (min-width: 1024px) {
            border-bottom: none;
            margin: 0 8px;
        }

    }

    

    &__button--close {
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}